In [20]:
import pandas as pd
import seaborn as sns 
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split

In [21]:
df = sns.load_dataset('titanic')
df.head()

,survived,pclass,sex,age,sibsp,parch,fare,embarked,class,who,adult_male,deck,embark_town,alive,alone
0,0,3,male,22.0,1,0,7.2500,S,Third,man,True,NaN,Southampton,no,False
1,1,1,female,38.0,1,0,71.2833,C,First,woman,False,C,Cherbourg,yes,False
2,1,3,female,26.0,0,0,7.9250,S,Third,woman,False,NaN,Southampton,yes,True
3,1,1,female,35.0,1,0,53.1000,S,First,woman,False,C,Southampton,yes,False
4,0,3,male,35.0,0,0,8.0500,S,Third,man,True,NaN,Southampton,no,True

In [22]:
num_var = df.select_dtypes(include = ['int64','float64']).keys()
num_var

Index(['survived', 'pclass', 'age', 'sibsp', 'parch', 'fare'], dtype='object')

In [11]:
df2 = df[num_var].drop(columns=['sibsp','fare'])
df2.head()

   survived  pclass   age  parch
0         0       3  22.0      0
1         1       1  38.0      0
2         1       3  26.0      0
3         1       1  35.0      0
4         0       3  35.0      0

In [23]:
df3 = df2.fillna(df2.mean())

In [24]:
X = df3.drop('survived', axis = 1)
y = df3['survived']

In [19]:
print("Shape of x", X.shape)
print("Shape of y", y.shape)

Shape of x (891, 3)
Shape of y (891,)

In [25]:
X_train , X_test, y_train, y_test = train_test_split(X,  y,test_size=0.2, random_state = 51) 
print("Shape of x_train", X_train.shape)
print("Shape of x_test", X_test.shape)

print("Shape of y_train", y_train.shape)
print("Shape of y_test", y_test.shape)

Shape of x_train (712, 3)
Shape of x_test (179, 3)
Shape of y_train (712,)
Shape of y_test (179,)

In [26]:
sc = StandardScaler()
sc.fit(X_train)

StandardScaler()

In [27]:
sc.mean_

array([ 2.30617978, 29.55409121,  0.39185393])

In [28]:
sc.scale_

array([ 0.84405789, 12.99162985,  0.79647463])

In [29]:
X_train.describe()

           pclass         age       parch
count  712.000000  712.000000  712.000000
mean     2.306180   29.554091    0.391854
std      0.844651   13.000763    0.797035
min      1.000000    0.420000    0.000000
25%      1.750000   22.000000    0.000000
50%      3.000000   29.699118    0.000000
75%      3.000000   35.000000    0.000000
max      3.000000   71.000000    5.000000

In [32]:
X_train_sc = sc.transform(X_train)
X_test_sc = sc.transform(X_test)

C:\Users\Acer\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(
C:\Users\Acer\AppData\Local\Packages\PythonSoftwareFoundation.Python.3.11_qbz5n2kfra8p0\LocalCache\local-packages\Python311\site-packages\sklearn\base.py:465: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  warnings.warn(

In [33]:
X_test_sc

array([[-4.56565841, -2.21296653, -1.1096893 ],
       [-1.75837972, -2.26036483, -1.1096893 ],
       [-1.75837972, -2.2722144 , -1.1096893 ],
       [-4.56565841, -2.27399706, -1.1096893 ],
       [-3.16201907, -2.24851525,  0.46667322],
       [-1.75837972, -2.26036483, -1.1096893 ],
       [-4.56565841, -2.17149303, -1.1096893 ],
       [-1.75837972, -2.35516142, -1.1096893 ],
       [-3.16201907, -2.05892208, -1.1096893 ],
       [-4.56565841, -2.3610862 ,  0.46667322],
       [-3.16201907, -2.26628961, -1.1096893 ],
       [-3.16201907, -2.28406397, -1.1096893 ],
       [-4.56565841, -2.1833426 , -1.1096893 ],
       [-1.75837972, -2.31368791, -1.1096893 ],
       [-1.75837972, -2.20704175,  6.77212331],
       [-3.16201907, -2.30183833, -1.1096893 ],
       [-3.16201907, -2.23666568,  2.04303574],
       [-1.75837972, -2.27399706, -1.1096893 ],
       [-1.75837972, -2.27399706, -1.1096893 ],
       [-3.16201907, -2.33738705, -1.1096893 ],
       [-1.75837972, -2.27399706, -1.1096893 ],
       [-3.16201907, -2.34331184, -1.1096893 ],
       [-1.75837972, -2.32553748, -1.1096893 ],
       [-4.56565841, -2.26628961, -1.1096893 ],
       [-1.75837972, -2.34923663, -1.1096893 ],
       [-4.56565841, -2.30776312, -1.1096893 ],
       [-1.75837972, -2.20704175, -1.1096893 ],
       [-4.56565841, -2.27399706, -1.1096893 ],
       [-1.75837972, -2.24259047,  0.46667322],
       [-4.56565841, -2.35516142,  0.46667322],
       [-1.75837972, -2.27399706, -1.1096893 ],
       [-4.56565841, -2.10632037,  2.04303574],
       [-4.56565841, -2.17149303, -1.1096893 ],
       [-1.75837972, -2.26628961, -1.1096893 ],
       [-3.16201907, -2.24851525, -1.1096893 ],
       [-3.16201907, -2.27399706, -1.1096893 ],
       [-3.16201907, -2.26036483, -1.1096893 ],
       [-1.75837972, -2.2722144 , -1.1096893 ],
       [-3.16201907, -2.31961269,  0.46667322],
       [-1.75837972, -2.01152378, -1.1096893 ],
       [-3.16201907, -2.28406397, -1.1096893 ],
       [-1.75837972, -2.32553748, -1.1096893 ],
       [-1.75837972, -2.21000414, -1.1096893 ],
       [-3.16201907, -2.42033407,  2.04303574],
       [-1.75837972, -2.42625886,  2.04303574],
       [-3.16201907, -2.23666568, -1.1096893 ],
       [-3.16201907, -2.27813919, -1.1096893 ],
       [-1.75837972, -2.35516142, -1.1096893 ],
       [-4.56565841, -2.28406397, -1.1096893 ],
       [-1.75837972, -2.30183833, -1.1096893 ],
       [-1.75837972, -2.27399706, -1.1096893 ],
       [-4.56565841, -2.23666568, -1.1096893 ],
       [-1.75837972, -2.14779388, -1.1096893 ],
       [-1.75837972, -2.27399706, -1.1096893 ],
       [-3.16201907, -2.30776312, -1.1096893 ],
       [-4.56565841, -2.15371867, -1.1096893 ],
       [-4.56565841, -2.29591355, -1.1096893 ],
       [-1.75837972, -2.20111696, -1.1096893 ],
       [-1.75837972, -2.36701099, -1.1096893 ],
       [-1.75837972, -2.32553748, -1.1096893 ],
       [-1.75837972, -2.1833426 , -1.1096893 ],
       [-1.75837972, -2.1833426 , -1.1096893 ],
       [-4.56565841, -2.20111696, -1.1096893 ],
       [-1.75837972, -2.27813919, -1.1096893 ],
       [-1.75837972, -2.28406397, -1.1096893 ],
       [-1.75837972, -2.35516142, -1.1096893 ],
       [-3.16201907, -2.31368791, -1.1096893 ],
       [-1.75837972, -2.36701099,  0.46667322],
       [-3.16201907, -2.20111696, -1.1096893 ],
       [-3.16201907, -2.28998876, -1.1096893 ],
       [-4.56565841, -2.26036483, -1.1096893 ],
       [-1.75837972, -2.34331184, -1.1096893 ],
       [-3.16201907, -2.43218364,  0.46667322],
       [-1.75837972, -2.27399706, -1.1096893 ],
       [-4.56565841, -2.11816995, -1.1096893 ],
       [-3.16201907, -2.43810843,  0.46667322],
       [-3.16201907, -2.28406397, -1.1096893 ],
       [-4.56565841, -2.22481611, -1.1096893 ],
       [-1.75837972, -2.27399706, -1.1096893 ],
       [-1.75837972, -2.27399706, -1.1096893 ],
       [-3.16201907, -2.34331184, -1.1096893 ],
       [-1.75837972, -2.28406397, -1.1096893 ],
       [-3.16201907, -2.2722144 , -1.1096893 ],
       [-4.56565841, -2.2722144 , -1.1096893 ],
       [-3.16201907, -2.17741781, -1.1096893 ],
       [-1.75837972, -2.39663492,  0.46667322],
       [-4.56565841, -2.21296653, -1.1096893 ],
       [-1.75837972, -2.27399706, -1.1096893 ],
       [-1.75837972, -2.43810843,  2.04303574],
       [-1.75837972, -2.27399706, -1.1096893 ],
       [-1.75837972, -2.19519217, -1.1096893 ],
       [-3.16201907, -2.13001952, -1.1096893 ],
       [-1.75837972, -2.27399706, -1.1096893 ],
       [-3.16201907, -2.30183833,  0.46667322],
       [-4.56565841, -2.26628961, -1.1096893 ],
       [-1.75837972, -2.27399706, -1.1096893 ],
       [-3.16201907, -2.27813919, -1.1096893 ],
       [-1.75837972, -2.35516142,  0.46667322],
       [-4.56565841, -2.27813919, -1.1096893 ],
       [-1.75837972, -2.20111696,  0.46667322],
       [-3.16201907, -2.08262122, -1.1096893 ],
       [-1.75837972, -2.27399706,  0.46667322],
       [-1.75837972, -2.25444004, -1.1096893 ],
       [-3.16201907, -2.28998876, -1.1096893 ],
       [-1.75837972, -2.27399706, -1.1096893 ],
       [-1.75837972, -2.19519217,  8.34848583],
       [-1.75837972, -2.26628961, -1.1096893 ],
       [-1.75837972, -2.30183833, -1.1096893 ],
       [-1.75837972, -2.23666568,  0.46667322],
       [-1.75837972, -2.26036483, -1.1096893 ],
       [-1.75837972, -2.27399706, -1.1096893 ],
       [-3.16201907, -2.30183833,  2.04303574],
       [-4.56565841, -1.97597506, -1.1096893 ],
       [-1.75837972, -2.24259047, -1.1096893 ],
       [-3.16201907, -2.33738705, -1.1096893 ],
       [-1.75837972, -2.26036483, -1.1096893 ],
       [-3.16201907, -2.34923663, -1.1096893 ],
       [-4.56565841, -2.07077165,  5.19576079],
       [-1.75837972, -2.33738705, -1.1096893 ],
       [-1.75837972, -2.3640486 , -1.1096893 ],
       [-1.75837972, -2.20111696, -1.1096893 ],
       [-4.56565841, -2.08262122, -1.1096893 ],
       [-1.75837972, -2.27399706, -1.1096893 ],
       [-1.75837972, -2.33738705, -1.1096893 ],
       [-3.16201907, -2.29591355,  0.46667322],
       [-1.75837972, -2.35516142, -1.1096893 ],
       [-1.75837972, -2.28406397, -1.1096893 ],
       [-4.56565841, -2.18926739,  0.46667322],
       [-1.75837972, -2.27399706, -1.1096893 ],
       [-1.75837972, -2.27399706, -1.1096893 ],
       [-3.16201907, -2.2722144 , -1.1096893 ],
       [-1.75837972, -2.29591355, -1.1096893 ],
       [-1.75837972, -2.23666568, -1.1096893 ],
       [-4.56565841, -2.0944708 , -1.1096893 ],
       [-1.75837972, -2.34331184, -1.1096893 ],
       [-1.75837972, -2.27399706, -1.1096893 ],
       [-3.16201907, -2.27399706, -1.1096893 ],
       [-1.75837972, -2.35516142,  0.46667322],
       [-3.16201907, -2.44504043,  2.04303574],
       [-1.75837972, -2.27399706, -1.1096893 ],
       [-4.56565841, -2.31961269, -1.1096893 ],
       [-3.16201907, -2.27813919, -1.1096893 ],
       [-4.56565841, -2.18038021, -1.1096893 ],
       [-3.16201907, -2.24851525, -1.1096893 ],
       [-1.75837972, -2.34923663,  0.46667322],
       [-1.75837972, -2.25444004,  0.46667322],
       [-1.75837972, -2.28998876, -1.1096893 ],
       [-3.16201907, -2.24259047, -1.1096893 ],
       [-1.75837972, -2.27399706, -1.1096893 ],
       [-1.75837972, -2.27399706, -1.1096893 ],
       [-1.75837972, -2.27399706, -1.1096893 ],
       [-4.56565841, -2.13001952,  0.46667322],
       [-1.75837972, -2.39663492,  2.04303574],
       [-4.56565841, -2.32553748,  2.04303574],
       [-1.75837972, -2.28406397,  0.46667322],
       [-1.75837972, -2.27399706, -1.1096893 ],
       [-1.75837972, -2.35516142, -1.1096893 ],
       [-3.16201907, -2.32553748, -1.1096893 ],
       [-1.75837972, -2.27399706,  0.46667322],
       [-1.75837972, -2.39663492,  2.04303574],
       [-1.75837972, -2.23074089, -1.1096893 ],
       [-4.56565841, -2.43810843,  2.04303574],
       [-1.75837972, -2.33738705, -1.1096893 ],
       [-3.16201907, -2.18926739, -1.1096893 ],
       [-4.56565841, -2.33738705, -1.1096893 ],
       [-1.75837972, -2.28406397, -1.1096893 ],
       [-1.75837972, -2.27813919, -1.1096893 ],
       [-3.16201907, -2.24851525, -1.1096893 ],
       [-3.16201907, -2.23666568, -1.1096893 ],
       [-1.75837972, -2.32553748, -1.1096893 ],
       [-1.75837972, -2.27399706, -1.1096893 ],
       [-4.56565841, -2.27399706, -1.1096893 ],
       [-4.56565841, -2.12409473, -1.1096893 ],
       [-1.75837972, -2.26628961, -1.1096893 ],
       [-1.75837972, -2.27399706,  2.04303574],
       [-1.75837972, -2.29591355, -1.1096893 ],
       [-3.16201907, -2.30776312, -1.1096893 ],
       [-4.56565841, -2.26628961, -1.1096893 ],
       [-4.56565841, -2.23074089, -1.1096893 ]])

In [34]:
X_train_sc = pd.DataFrame(X_train_sc, columns=['pclass','age','parch'])
X_test_sc = pd.DataFrame(X_test_sc, columns=['pclass','age','parch'])

In [35]:
X_train_sc.head()

    pclass       age     parch
0 -1.75838 -2.307763 -1.109689
1 -1.75838 -2.121132 -1.109689
2 -1.75838 -2.384785 -1.109689
3 -1.75838 -2.343312 -1.109689
4 -1.75838 -2.273997  2.043036

In [36]:
X_train_sc.describe().round(2)

       pclass     age   parch
count  712.00  712.00  712.00
mean    -2.73   -2.27   -0.49
std      1.19    0.08    1.26
min     -4.57   -2.45   -1.11
25%     -3.51   -2.32   -1.11
50%     -1.76   -2.27   -1.11
75%     -1.76   -2.24   -1.11
max     -1.76   -2.03    6.77